<div class="container-xl px-4 mt-4 mb-xl-4" *ngIf="student">

    <tabset class="student-tabset">
        <!--Account information tab-->
        <tab heading="Profile">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img class="img-account-profile rounded-circle mb-2"
                                src="{{student.photoUrl || './assets/images/user.png'}}" alt="{{student.firstname}}">
                            
                            <hr>
                            <div class="mt-3">
                                <p style="font-size:14px; font-weight: 400; color: #333333;"><strong
                                        style="color: green;">Full Name: </strong> {{student.firstname}}
                                    {{student.lastName}} <strong class="ms-2" style="color: green;">Age:</strong>
                                    {{student.age}} <strong class="ms-2" style="color: green;">Gender: </strong>
                                    {{student.gender}}</p>
                                <p style="font-size:14px; font-weight: 400; color: #333333;;"><strong class="mt-2"
                                        style="color: green;">Start Date: </strong>{{student.startdate}} <strong
                                        class="ms-2" style="color: green;">Student ID:</strong> {{student.studentId}}
                                </p>
                                <p style="font-size:14px; font-weight: 400; color: #333333;;"><strong class="mt-2" style="color: green;">Course:
                                    </strong>{{student.degreetype}} in {{student.course}}</p>
                                <p><strong class="ms-2"
                                        style="color: green;">University:</strong> {{student.universityName}}</p>
                                <p style="font-size:14px; font-weight: 400; color: #333333;;"><strong class="mt-2"
                                        style="color: green;">Location</strong> {{student.countryOfStudy}},
                                    {{student.cityOfStudy}}</p>
                                <p style="font-size:14px; font-weight: 400; color: #333333;;"><strong class="mt-2"
                                        style="color: green;">About: </strong> <br> {{student.introduction}}</p>
                                <p style="font-size:14px; font-weight: 400; color: #333333;;"><strong class="mt-2"
                                        style="color: green;">Skills</strong> <br> {{student.skills}}</p>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="btn-group d-flex">
                                <button class="btn" style="font-size: 40px; width: 30px; color: gold;"><i
                                        class="fa fa-envelope"></i></button>
                            </div>
                        </div>
                        <hr>
                        <div class="small font-italic text-muted mb-4 text-center">last active: {{student.lastActive}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Profile Details</div>
                        <div class="card-body">
                            <div class="alert alert-info text-center" *ngIf="profileEDitForm.dirty">
                                <strong>Information: </strong> Any unsaved changes will be lost
                            </div>



                            <form #profileEDitForm="ngForm" id="profileEDitForm" (ngsubmit)="updateProfile()">
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="username">Username: (ReadOnly) </label>
                                    <input disabled class="form-control" id="username" type="text" name="username"
                                        placeholder="{{student.username || titlecase }}">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="firstname">First name: </label>
                                        <input [(ngModel)]="student.firstname" class="form-control" id="firstname" type="text"
                                            placeholder="First name" name="firstname">
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="lastName">Last name: </label>
                                        <input [(ngModel)]="student.lastName" class="form-control" id="lastName" type="text"
                                            placeholder="Enter your last name" name="lastName">
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (Gender)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="gender">Gender: </label>
                                        <select id="gender" class="form-control" name="gender" type="text" [(ngModel)]="student.gender">
                                            <option selected value>-----Choose a gender -----</option>
                                            <option value="Male"> Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                    <!-- Form Group (Date of birth)-->
                                    <!-- <div class="col-md-6">
                                        <label class="small mb-1" for="dateOfBirth">Date of birth: </label>
                                        <input class="form-control" id="dateOfBirth" type="date"
                                            placeholder="Enter your date of birth " name="lastName">
                                    </div> -->
                                </div>
                                <!-- Form Row  (course details)      -->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (University name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="universityName">University: </label>
                                        <input [(ngModel)]="student.universityName" class="form-control" id="universityName" type="text"
                                            placeholder="University name" name="universityName">
                                    </div>
                                    <!-- Form Group (Course)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="course">Course: </label>
                                        <input [(ngModel)]="student.course" class="form-control" id="course" type="text"
                                            placeholder="Course title" name="course" >
                                    </div>
                                    <!-- Form Group (Degree)-->
                                    <div class="col-md-6 mt-3">
                                        <label class="small mb-1" for="degreetype">Degree type: </label>
                                        <input [(ngModel)]="student.degreetype" class="form-control" id="degreetype" type="text"
                                            placeholder="Degree eg. Bsc, Msc etc" name="degreetype">
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label class="small mb-1" for="startdate">Course start date: </label>
                                        <input [(ngModel)]="student.startdate" class="form-control" id="startdate" type="date"
                                            placeholder="{{student.startdate}}" name="startdate">
                                    </div>
                                </div>
                                
                                <!-- Form Row (location)-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (country of study)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="countryOfStudy">Country of study: </label>
                                        <input [(ngModel)]="student.countryOfStudy" class="form-control" id="countryOfStudy" type="text"
                                            placeholder="country" name="countryOfStudy" >
                                    </div>
                                    <!-- Form Group (city)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1 " for="cityOfStudy">City: </label>
                                        <input [(ngModel)]="student.cityOfStudy" class="form-control" id="cityOfStudy" type="text" name="cityOfStudy"
                                            placeholder="city">
                                    </div>
                                </div>

                                <!-- Form Group (Summary)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="introduction">Summary: </label>
                                    <textarea [(ngModel)]="student.introduction" class="form-control" name="introduction" id="introduction" rows="3"></textarea>
                                </div>

                                 <!-- Form Group (skills)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="skills">Skills: </label>
                                    <textarea [(ngModel)]="student.skills" class="form-control" name="skills" id="skills" rows="3"></textarea>
                                </div>
                                <hr>
                                <!-- Save changes button-->
                                <button class="btn btn-success" type="submit" form="profileEDitForm" (click)="updateProfile()" style=" color: #ffff;" [disabled]="!profileEDitForm.dirty">Save
                                    changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

        <!--Settings Information-->
        <tab heading="Settings">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Change password card-->
                    <div class="card mb-4">
                        <div class="card-header">Change Password</div>
                        <div class="card-body">
                            <form>
                                <!-- Form Group (current password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="currentPassword">Current Password</label>
                                    <input class="form-control" id="currentPassword" type="password"
                                        placeholder="Enter current password">
                                </div>
                                <!-- Form Group (new password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="newPassword">New Password</label>
                                    <input class="form-control" id="newPassword" type="password"
                                        placeholder="Enter new password">
                                </div>
                                <!-- Form Group (confirm password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                    <input class="form-control" id="confirmPassword" type="password"
                                        placeholder="Confirm new password">
                                </div>
                                <button class="btn btn-success" type="button" style="color: #ffff;">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Two factor authentication
                    <div class="card mb-4">
                        <div class="card-header">Two-Factor Authentication</div>
                        <div class="card-body">
                            <p>Activate two factor Authentication to add another level of authentication to your Account. <br> <strong>Note: </strong>A text message will be sent to the phone number provided below to verify your login attempts</p>
                            <form>
                                <div class="form-check">
                                    <input class="form-check-input" id="On" type="radio" name="isTwoFacActive"
                                        value="1" [(ngModel)]="isTwoFacActive" [checked]="isChecked">
                                    <label class="form-check-label" for="On">Activate</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="Off" type="radio" name="isTwoFacActive"
                                        value="0" [(ngModel)]="isTwoFacActive" [checked]="!isChecked">
                                    <label class="form-check-label" for="Off">Deactivate</label>
                                </div>

                               
                                <ng-container >
                                    <div class="mt-3" *ngIf="isTwoFacActive == 1">
                                        <label class="small mb-1" for="twoFactorSMS">Phone Number</label>
                                        <input class="form-control" id="twoFactorSMS" type="tel"
                                            placeholder="Prefix country code eg +44">
                                    </div>
                                </ng-container>
                                <ng-container >
                                    <div style="display: none;" *ngIf="isTwoFacActive == 0"></div>
                                </ng-container>
                                
                            </form>
                        </div>
                    </div> -->
                    <!-- Delete account-->
                    <div class="card mb-4">
                        <div class="card-header">Delete Account</div>
                        <div class="card-body">
                            <p>Deleting your account is a permanent action and cannot be undone. If you are sure you
                                want to delete your account, select the button below.</p>
                            <button class="btn btn-danger" type="button">I understand, delete my
                                account</button>
                        </div>
                    </div>
                </div>
            </div>

        </tab>

        <!--Photos-->
        <tab heading="Photos">       
            <!-- Edit photos card-->
            <app-edit-photo [student]="student"></app-edit-photo>
        </tab>

        

    </tabset>


</div>