<div class="container-xl px-4 mt-4 mb-xl-4" *ngIf="student">

    <tabset class="nav nav-border">
        <!--Account information tab-->
        <tab heading="Profile">
            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img class="img-account-profile rounded-circle mb-2"
                                src="{{student.photoUrl || './assets/user.png'}}" alt="{{student.firstname}}">
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted mb-4">JPG or PNG not greater than 5mb </div>
                            <!-- Profile picture upload button-->
                            <button class="btn mb-3" type="button" style="background: green; color: #ffff;">Upload new
                                image</button>
                            <mat-divider></mat-divider>
                            <div class="mt-3">
                                <p style="font-size:14px; font-weight: 400; color: black;"><strong
                                        style="color: green;">Full Name: </strong> {{student.firstname}}
                                    {{student.lastName}} <strong class="ms-2" style="color: green;">Age:</strong>
                                    {{student.age}} <strong class="ms-2" style="color: green;">Gender: </strong>
                                    {{student.gender}}</p>
                                <p style="font-size:14px; font-weight: 400; color: black;"><strong class="mt-2"
                                        style="color: green;">Start Date: </strong>{{student.startdate}} <strong
                                        class="ms-2" style="color: green;">Student ID:</strong> {{student.studentId}}
                                </p>
                                <p style="font-size:14px; font-weight: 400; color: black;"><strong class="mt-2">Course:
                                    </strong>{{student.degreetype}} in {{student.course}}<strong class="ms-2"
                                        style="color: green;">University:</strong> {{student.universityName}}</p>
                                <p style="font-size:14px; font-weight: 400; color: black;"><strong class="mt-2"
                                        style="color: green;">Location</strong> {{student.countryOfStudy}},
                                    {{student.cityOfStudy}}</p>
                                <p style="font-size:14px; font-weight: 400; color: black;"><strong class="mt-2"
                                        style="color: green;">About: </strong> <br> {{student.introduction}}</p>
                                <p style="font-size:14px; font-weight: 400; color: black;"><strong class="mt-2"
                                        style="color: green;">Skills</strong> <br> {{student.skills}}</p>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="btn-group d-flex">
                                <button class="btn" style="font-size: 40px; width: 30px; color: gold;"><i
                                        class="fa fa-envelope"></i></button>
                            </div>
                        </div>
                        <div class="small font-italic text-muted mb-4 text-center">last active: {{student.lastActive}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Profile Details</div>
                        <div class="card-body">
                            <form>
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Username (how your name will appear to
                                        other users on the site)</label>
                                    <input class="form-control" id="inputUsername" type="text"
                                        placeholder="Enter your username" value="username">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFirstName">First name</label>
                                        <input class="form-control" id="inputFirstName" type="text"
                                            placeholder="Enter your first name" value="Valerie">
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLastName">Last name</label>
                                        <input class="form-control" id="inputLastName" type="text"
                                            placeholder="Enter your last name" value="Luna">
                                    </div>
                                </div>
                                <!-- Form Row        -->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputOrgName">Organization name</label>
                                        <input class="form-control" id="inputOrgName" type="text"
                                            placeholder="Enter your organization name" value="Start Bootstrap">
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLocation">Location</label>
                                        <input class="form-control" id="inputLocation" type="text"
                                            placeholder="Enter your location" value="San Francisco, CA">
                                    </div>
                                </div>
                                <!-- Form Group (email address)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                    <input class="form-control" id="inputEmailAddress" type="email"
                                        placeholder="Enter your email address" value="name@example.com">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">Phone number</label>
                                        <input class="form-control" id="inputPhone" type="tel"
                                            placeholder="Enter your phone number" value="555-123-4567">
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">Birthday</label>
                                        <input class="form-control" id="inputBirthday" type="text" name="birthday"
                                            placeholder="Enter your birthday" value="06/10/1988">
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <button class="btn" type="button" style="background: green; color: #ffff;">Save
                                    changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

        <!--Settings Information-->
        <tab heading="Settings">
            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Change password card-->
                    <div class="card mb-4">
                        <div class="card-header">Change Password</div>
                        <div class="card-body">
                            <form>
                                <!-- Form Group (current password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="currentPassword">Current Password</label>
                                    <input class="form-control" id="currentPassword" type="password"
                                        placeholder="Enter current password">
                                </div>
                                <!-- Form Group (new password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="newPassword">New Password</label>
                                    <input class="form-control" id="newPassword" type="password"
                                        placeholder="Enter new password">
                                </div>
                                <!-- Form Group (confirm password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                    <input class="form-control" id="confirmPassword" type="password"
                                        placeholder="Confirm new password">
                                </div>
                                <button class="btn btn-primary" type="button">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Two factor authentication-->
                    <div class="card mb-4">
                        <div class="card-header">Two-Factor Authentication</div>
                        <div class="card-body">
                            <p>Add another level of security to your account by enabling two-factor authentication. We
                                will send you a text message to verify your login attempts on unrecognized devices and
                                browsers.</p>
                            <form>
                                <div class="form-check">
                                    <input class="form-check-input" id="On" type="radio" name="isTwoFacActive"
                                        value="1" [(ngModel)]="isTwoFacActive" [checked]="isChecked">
                                    <label class="form-check-label" for="On">On</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="Off" type="radio" name="isTwoFacActive"
                                        value="0" [(ngModel)]="isTwoFacActive" [checked]="!isChecked">
                                    <label class="form-check-label" for="Off">Off</label>
                                </div>

                                <!--Activate two factor Authentication-->
                                <ng-container >
                                    <div class="mt-3" *ngIf="isTwoFacActive == 1">
                                        <label class="small mb-1" for="twoFactorSMS">Phone Number</label>
                                        <input class="form-control" id="twoFactorSMS" type="tel"
                                            placeholder="Prefix country code eg +44">
                                    </div>
                                </ng-container>
                                <ng-container >
                                    <div style="display: none;" *ngIf="isTwoFacActive == 0"></div>
                                </ng-container>
                                
                            </form>
                        </div>
                    </div>
                    <!-- Delete account-->
                    <div class="card mb-4">
                        <div class="card-header">Delete Account</div>
                        <div class="card-body">
                            <p>Deleting your account is a permanent action and cannot be undone. If you are sure you
                                want to delete your account, select the button below.</p>
                            <button class="btn btn-danger" type="button">I understand, delete my
                                account</button>
                        </div>
                    </div>
                </div>
            </div>

        </tab>

    </tabset>


</div>