<div class="container mt-5">
    <div *ngIf="!signInMode && !signUpMode" style="text-align: center;">
        <h1 style="font-size: 35px; font-weight: 400; color: green;">Chat with current students</h1>
        <p class="lead" style="padding: 10px; font-size: 16px;">Interact and find out all you need to know about your course, university and location by chatting with current students</p>
        <div class="text-center">
            <button (click)="signInToggle()" class="btn btn-success btn-lg" style="margin-right: 20px; color: #fff; font-weight: 400;">Sign in</button>
            <button (click)="signUpToggle()" class="btn btn-primary btn-lg" style="color: #fff; font-weight: 400;">Sign up</button>
        </div>
    </div>

    <div *ngIf="signInMode" class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="text-end form-inline mt-2 mt-md-0 ms-auto" *ngIf="(accountService.currentUser$ |async) === null">
                    <form #loginForm="ngForm" (ngSubmit)="login()" autocapitalize="off" id="loginform">
                      <input name="username" [(ngModel)]="model.username" type="text"
                        class="form-control form-control-dark text-bg-dark mr-sm-2 mb-3" placeholder="username">
                      <input name="password" [(ngModel)]="model.password" type="password"
                        class="form-control form-control-dark text-bg-dark mr-sm-2" placeholder="password">
              
                    </form>   
                  </div> 
                  <div class="text-end ms-auto mt-3" *ngIf="(accountService.currentUser$ |async) === null">
                    <button type="submit" class="btn btn-outline-success me-2" form="loginform">Login</button>
                  </div>
            </div>
        </div>
    </div>

    <div *ngIf="signUpMode" class="container" style="width: 600px;">
        <div class="row justify-content-center">
            <div class="col-6">
                <app-register></app-register>
            </div>
        </div>
    </div>

    
</div>
