<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		The page you are looking for does not exist!! :(
		</h3>
		
		<p>Please check the URL and ensure that it is correct.</p>
		
		<a routerLink="/list-students"  class="link_404" *ngIf="accountService.currentUser$ | async">Go to Home</a>
        <a routerLink="/"  class="link_404" *ngIf="(accountService.currentUser$ | async) == null">Go to Home</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>