<div class="row">
    <div class="cards">
        <div class="card mb-4 col-lg-12 col-sm-12">
            <div class="card-img-wrapper">
                <img src="{{student.photoUrl}}" alt="{{student.firstname}}" class="card-img-top img-fluid">
                <ul class="list-inline student-icons animate text-sm-center">
                    <li class="list-inline-item">
                        <a routerLink="/list-students/{{student.username}}"><button style="background: transparent; border: none;"><i class="fa fa-user user-icon"></i></button></a>
                    </li>
                    <li class="list-inline-item">
                        <a ><button style="background: transparent; border: none;"><i class="fa fa-envelope message-icon"></i></button></a>
                    </li>
                    
                </ul>
            </div>
        
            <div class="card-body p-1 mt-2">
                <h6 class="card-title text-center mb-1" style="font-size: 12px;"><i class="fa fa-user me-1" style="color: green; font-size: 12px;"></i>
                <strong class="ms-1" >Full Name: </strong>{{student.firstname}} {{student.lastName}}</h6>
                <p class="card-text text-center" style="font-size: 12px;"> <i class="fa fa-building me-1" style="color: green; font-size: 12px;"></i> <strong> Course: </strong>{{student.course}} at {{student.universityName}}</p>
                <p class="card-text text-muted text-center" style="font-size: 12px;"><i class="fa fa-book me-1" style="color: green; font-size: 12px;"></i> <strong>Degree: </strong>{{student.degreetype}}</p>
            </div>
        </div>
    </div>
</div>

